/* -------------------------------------- HOME PAGE -------------------------------------- */


/* -------------------------------------- PAGE SETUP -------------------------------------- */

* {
    user-select: none;
}

html {
    font-family: quicksand, sans-serif;
    min-height: 100vh;
    max-width: 1280px;
    background-color: white;
    margin: 0 auto;
}

body {
    margin: 0px !important;
    background-color: white;
    border: 1px solid #ddd;
}

.page-container {

}

/* -------------------------------------- NAV SECTION -------------------------------------- */


nav {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

nav .logo {
    display: flex;
    align-items: center;
    width: 100%;
}

nav .logo img {
    width: 50px;
    padding: 8px;
    border-radius: 40%;
    transition: all 0.3s linear;
}

nav .logo img:hover {
    padding: 8px;
    border-radius: 50%;
}

nav .logo .title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding-left: 10px;
}

nav ul {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style:none;
}

nav ul li {
    width: 20%;
    font-size: 15px;
    color: white;
    padding: 30px 10px;
    background-color: #333333;
    transition: all 0.3s ease;
}

nav ul li:hover {
    background-color: #222222;    
}

nav ul li.active {
    background-color: #222222;    
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* -------------------------------------- BANNER SECTION -------------------------------------- */

/* ----- Banner Animations ----- */

@keyframes appear {
    from {
        opacity: 0.0;
        top: -200px;
    }
    to {
        opacity: 1.0;
        top: 0px;
    }
}

/* ----- Banner Styles ----- */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vw;
    max-height: 800px;
    background-image: url(./images/About\ Me/title-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333333;
}

.banner .heading {
    flex: 1;
    justify-self: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-top: 100px;
    animation: appear 1s ease-in-out 0s forwards;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner .heading small {
    font-size: 20px;
}

/* -------------------------------------- WELCOME SECTION -------------------------------------- */


/* -------------------------------------- OVERVIEW SECTION (P-HOME)/PROFESSIONAL HISTORY SECTION(P-EXPERIENCE) -------------------------------------- */

.experience-text {
    background-color: #f1f1f1;
    font-size: 18px;
    text-align: justify;
    padding: 1% 2%;
    transition: all 0.5s ease-in-out;
}

.experience-text:hover {
    background-color: #dbdbdb;
    font-size: 18px;
    text-align: justify;
    border-radius: 40px;
    padding: 1% 2%;
}

/* -------------- Profesional History -------------- */

.resume-link {
    display: flex;
    text-decoration: solid;
    font-size: 20px;
    justify-content: center;
}

.resume-link a {
    border: 2px solid #222222;
    border-radius: 50px;
    width: 250px;
    height: 30px;
    margin: 10px 0;
    color: black;
    text-align: center;
    transition: all 0.3s ease-in-out, scale 0.05s ease-in-out;
}

.resume-link a:hover {
    color: white;
    background-color: #222222;
}

.resume-link a:active {
    scale: 0.95;
    color: white;
    background-color: #222222;
}



.overview-container {
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
}

.employment-container {
    flex: 1;
    margin: 5px;
    background-color: #f3f3f3;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border: 2px solid #f3f3f3;
}

.heading-title {
    font-size: 20px;
    padding: 12px;
    margin: 6px;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    text-align: center;
    border-radius: 50px;
}

h4.heading-title-small {
    font-size: 16px;
    padding: 6px;
    margin: 6px;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    text-align: center;
    border-radius: 50px;
}

.employment-container:hover {
    border: 2px solid black;
    transform: scale(1.01);
    background-color: #e7e7e7;
    
}

div.employment-container>* {
    padding: 5px;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

div.employment-container>*:hover {
    background-color: #f5f5f5;
}

.experience-history {
    text-align: center;
}

.description {

}

.key-achievements {

}

.experience-table td {
    padding: 5px 15px;
}


/* -------------------------------------- LANGUAGES SECTION -------------------------------------- */

.maintext {
    font-size: 18px;
    padding: 12px;
    text-align: center;
}

.subtext {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.subtext h3 {
    font-size: 24px;
    text-align: center;
}

.subtext div:not(.logo-div) {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: black;
    font-weight: 600 ;
    opacity: 0.8;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid white;
    transition: all 0.3s ease-in-out;
}

.subtext-html {
    width: 30%;
    background-color: #e34c26;
}

.subtext-css {
    width: 30%;
    background-color: #264de4;
}

.subtext-js {
    width: 30%;
    background-color: #F0DB4F;
}

.subtext-py {
    width: 30%;
    background-color: #9df04f;
}

.subtext-bootstrap {
    width: 30%;
    background-color: #563d7c;
}

.subtext-react {
    width: 30%;
    background-color: #61dbfb;
}

.subtext-jquery {
    width: 30%;
    background-color: #FAA523;
}

.subtext-html p, .subtext-css p, .subtext-js p, .subtext-py p, .subtext-bootstrap p, .subtext-react p, .subtext-jquery {
    padding-bottom: 100px;
}

.logo-img {
    width: 60%;
    border-radius: 0px;
}

.logo-div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: white;
}

.subtext div:hover:not(.logo-div) {
    opacity: 1;
    color: black;
    border: 2px solid black;
}

.quote {
    display: block;
    background-color: #eeeeee;
    padding: 50px;
    text-align: center;
    font-style: italic;
}

.subtext-placeholder1 {

}

.subtext-placeholder2 {

}

/* -------------------------------------- QUOTE SECTION -------------------------------------- */

.quote::before {
    display: inline-block;
    content: open-quote;
    color: #d3d3d3;
    font-size: 32px;
}

.quote::after {
    display: inline-block;
    content: close-quote;
    color: #d3d3d3;
    font-size: 32px;
}

/* -------------------------------------- PROJECTS SECTION -------------------------------------- */

h3.heading-title {
    font-size: 32px;
    padding: 12px;
    margin: 6px;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.project {
    flex-basis: 325px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
}

.project h4 {
    font-size: 20px;
    padding: 12px;
    margin: 6px;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
}

.project p {
    padding: 0px 12px;
}

.project img {
    width: 100%;
    border-radius: 10px;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.projects .project img {
    height: 50%;
}

.project img:hover {
    transform: scale(105%);
    opacity: 1;
}

.projects-btn {
    background-color: #222222;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0.3rem rgba(50, 50, 50, 0.7);
}

.project button:hover {
    background-color: #8f8f8f;
    cursor: pointer;
}

.projects-btn:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(110, 110, 110, 0.65);
}

.view-projects-div {
    text-align: center;
    background-color: rgb(248, 248, 248);
}

.view-projects-div  {
    width: 100%;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.view-projects-div button {
    width: 30%;
    font-size: 20px;
}

.view-projects-div button:hover {
    background-color: #8f8f8f;
}

.view-projects-div a {
    text-decoration: none;
    color: white;
}

.experience-btn {
    display: flex;
    background-color: #222222;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    justify-content: center;
    margin: 1% auto;
    width: 60%;
    font-size: 12px;
    transition: all 0.1s ease-in-out;
}

nav a, .experience-text+a {
        text-decoration: none;
}

.experience-btn:hover {
    background-color: #8f8f8f;
}

/* -------------------------------------- FOOTER SECTION -------------------------------------- */

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222222;
    padding: 24px;
    text-align: center;
    color: white;
}

.footer-spacing {
    height: 70px;
}

/* -------------------------------------- ABOUT PAGE -------------------------------------- */

/* -------------------------------------- GALLERY SECTION -------------------------------------- */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 8px;
    padding: 12px;
    background-color: #d3d3d3;
}

.gallery-item {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.gallery-item:hover {
    position: relative;
    transform: scale(1.05);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.gallery-item2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.gallery-item2 img {
    object-fit:contain;
}

.gallery-item3 {
    grid-column: 3/4;
    grid-row: 2/4;
}

.gallery-item4 {
    grid-column: 4/5;
    grid-row: 2/4;
}

.gallery-item5 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.gallery-item6 {
    grid-column: 1/3;
    grid-row: 3/4;
}

.gallery-item7 {
    grid-column: 3/5;
    grid-row: 1/1;
}


/* -------------------------------------- VIDEO SECTION -------------------------------------- */

.youtube-title-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.youtube-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.youtube-logo-img {
    width: 120px;
    padding: 12px;
    flex: 1;
}

.youtube-logo-text {
    font-weight: 900;
    padding-bottom: 12px;
    width: 100%;
    flex: 1;
}


.youtube-title-container div {
    background-color: #f0f0f0;
    width: 50vw;
    text-align: center;
    border-radius: 20px;
    font-size: 24px;
    margin: 20px;
}

.video-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 8px;
    padding: 12px;    
}

.video iframe {
    width: 100%;
}

.video {
    background-color: #f0f0f0;
    border-radius: 10px;
}


/* -------------------------------------- CONTACT PAGE -------------------------------------- */

/* -------------------------------------- FORM SECTION -------------------------------------- */

.form-container {
    display: flex;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px 0px;
}

.form-container .form {
    flex: 1;
}

.form-container label {
    
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 24px;
    margin-bottom: 24px;
}

input[type=submit] {
    background-color: #45a049;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
    background-color: #39833d;
}

.form-container .map {
    width: 100%;
    height: 500px;
    padding: 12px;
    margin-left: 20px;
    flex: 1;
}

.form-container textarea {
    max-width:inherit;
}

.form-container .map iframe {
    width: 100%;
    height: 100%;
    justify-content: center;
}

/* -------------------------------------- MEDIA SETUP -------------------------------------- */

/* ----- Phone Breakpoint ----- */

@media all and (max-width: 800px) {
    
    /* HOME PAGE SETUP */
    
    nav {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    nav ul a {
        width: 100%;
        align-items: 100vw;
    }

    nav ul {
        width: 100%;
        justify-content: center;
        padding: 10px 0 0 0;
        margin: 0;
        list-style:none;
    }
    
    nav ul li {
        width: 20%;
        font-size: 15px;
        color: white;
        padding: 20px 10px;
        background-color: #333333;
        transition: all 0.3s ease;
    }

    nav .logo .title {
        color: white;
        font-size: 24px;
        font-weight: 600;
    }

    /* Banner Section */

    .banner .heading {
        font-size: 25px;

    }
    
    .banner .heading small {
        font-size: 15px;
    }


    .subtext {
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .subtext-html, .subtext-css, .subtext-js, .subtext-py, .subtext-bootstrap, .subtext-react, .subtext-jquery {
        height: 400px;
        width: 80%;
    }

    .logo-img {
        width: 40%;
        border-radius: 0px;
    }

    /* EXPERIENCE PAGE SETUP */
    .overview-container {
        flex-direction: column;
        height: auto;
    }

    .experience-history, .key-achievements, .description {
        height: auto;
    }

    .experience-history, .key-achievements, .description:hover {
        
    }


    /* PROJECT PAGE SETUP */
    .projects .project img {
        height: 40%;
    }

    /* ABOUT PAGE SETUP */

    .video-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }

    .video iframe {
        width: 60vw;
    }


    /* ABOUT PAGE SETUP */

    .form-container {
        flex-direction: column;
    }

    .form-container .map {
        margin: 0px;
        padding: 0px;
        padding-top: 24px;
        height: 100px;
    }

    .form-container .map iframe {
        width: 100%;
        height: 30vh;
        justify-content: center;
    }

}